<!-- Intro to raw React APIs -->
<!-- http://localhost:3000/isolated/exercise/02.html -->

<body>
  <div id="root"></div>

  <!-- 🐨 add React and ReactDOM on the page.
       💰 Here are script tags that'll do the job: -->
  <script src="https://unpkg.com/react@17.0.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17.0.0/umd/react-dom.development.js"></script>
  

  <script type="module">
    const rootElement = document.getElementById('root');

    // 🐨 Please re-implement the regular document.createElement code above
    // with these React API calls
    // 💰 The example in the markdown file should be a good hint for you.s
	
	const hello = React.createElement('span', { children: 'Hello' });
	const world = React.createElement('span', { children: 'World' });
	
	const container = React.createElement('div', { class: 'container', children: [ hello, world ] });

	ReactDOM.render(container, rootElement);

  </script>
</body>
