<!-- Using JSX -->
<!-- http://localhost:3000/isolated/exercise/03.html -->

<body>
  <div id="root"></div>
  <script src="https://unpkg.com/react@17.0.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17.0.0/umd/react-dom.development.js"></script>

  <script src="https://unpkg.com/@babel/standalone@7.12.4/babel.js"></script>

  <script type="text/babel">
    // 🐨 on the script tag above, change `type="module"`
    // to `type="text/babel"` so babel will compile this code for the browser to run.

    // 🐨 re-implement this using JSX!
    const element = <div class='container'>Hello World</div>;

    // 💰 there are a few subtle differences between JSX and HTML. One such
    // difference is how you apply a class to an element in JSX is by using
    // `className` rather than `class`!
    // 📜 You can learn the differences between JSX and HTML syntax from the React docs here:
    // https://reactjs.org/docs/dom-elements.html#differences-in-attributes

    ReactDOM.render(element, document.getElementById('root'))
  </script>
</body>
