<!-- Creating custom components -->
<!-- http://localhost:3000/isolated/exercise/04.html -->

<body>
  <div id="root"></div>
  <script src="https://unpkg.com/react@17.0.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17.0.0/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@babel/standalone@7.12.4/babel.js"></script>
  <script src="https://unpkg.com/prop-types@15.7.2/prop-types.js"></script>

  <script type="text/babel">
    // 🐨 Make a function called `message` which returns the JSX we want to share

	const Message = ({ subject, greeting }) => (
		<div>
			{greeting}, {subject}
		</div>
	)

	const propTypes = {
		string(props, propName, componentName) {
			if (typeof props[propName] !== 'string') {
				return new Error(`Missing ${propName} property.`)
			}
		}
	}

	Message.propTypes = {
		subject: propTypes.string,
		greeting: propTypes.string,
	};

	const helloElement = React.createElement(Message, { children: 'Hello World' });
	const goodbyeElement = React.createElement(Message, { children: 'Goodbye World' });
		
    // 🐨 use that function in place of the divs below with:
    // 💰 {message({children: 'Hello World'})} {message({children: 'Goodbye World'})}
    const Element = (
      <div className="container">
			<Message greeting='Hello' />
			<Message greeting='Goodbye' subject='World' />
      </div>
    )

	const ui = <Element />

    // 💯 This is only the first step to making actual React components. The rest is in the extra credit!
    ReactDOM.render(Element, document.getElementById('root'))
  </script>
</body>
